process {
    debug = true
    executor = 'slurm'
    clusterOptions = '--time=2-00:00:00 -p lowprio --exclude=hpc[05,06],hpc-rc[07,12,13],hpc-bc15-[01,03,06,14] --no-kill'
    container = 'file:///mnt/hgenet/NGS_Daten_Test/User/hofmannw/singularity/test/megSAP-2022_08-152.sif'
    containerOptions = '-B /mnt/hgenet/NGS_Daten_nfs/singularity_etc/resolv.conf:/etc/resolv.conf,/mnt/hgenet/NGS_Daten_nfs/singularity_etc/hosts:/etc/hosts,/mnt/hgenet/NGS_tmp:/tmp,/mnt/hgenet/NGS_Daten_nfs:/NGS_Daten_nfs,/mnt/hgenet/NGS_Daten4:/NGS_Daten4,/mnt/hgenet/NGS_Daten_Test:/NGS_Daten_Test'
    stageInMode = 'symlink'
    cache = false
    cpus = { 12 }
    memory = { 50.GB }
}

singularity {
    enabled = true
    autoMounts = true
}

report {
    enabled = true
    file = 'nextflow_report.html'
    overwrite = true
}

timeline {
    enabled = true
    file = 'nextflow_timeline.html'
    overwrite = true
}

dag {
    enabled = true
    file = 'nextflow_dag.mmd'
    overwrite = true
}

cleanup = true